@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');

body {
    font-family: 'Raleway', Arial, sans-serif;
    line-height: 1.7;
    background-color: #fcfbfb;
    color: #393D3F;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

header {
    background-color: rgba(20, 30, 13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.river-section {
    background-color: #fcfbfb;
    margin-bottom: 40px;
    border-bottom: 10px solid #d9c2a3;
    padding-bottom: 30px;
}

.river-section h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-weight: normal;
    font-size: 2.2em;
    color: #023E8A;
    margin: 0;
    padding: 25px 0 20px;
    text-align: center;
}

.river-image {
    width: 100%;
    height: auto;
    display: block;
    border: 10px solid #d9c2a3;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #6f7364;
}

.river-description {
    padding: 20px 10px 0;
}

.river-description p {
    margin-bottom: 1em;
}

.river-description p:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #6f7364;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer a:hover {
    color: #d9c2a3;
}

footer p {
    font-size: 1.2em;
    font-family: 'Raleway', Arial, sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
}